.App {
  text-align: center;
  color: white;
  padding-top: 50px;
}

body {
  background-color: #282c34;
}

.dash {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h3 {
  font-weight: normal;
}

/**
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 */